<div class="services">

    <div class="services-wrap">
        <div class="services__blocks">


            <div class="services__block">
                <div class="services__block-open">
                    <svg class="icon" width="20" height="20">
                        <use href="../img/icons.svg#plusznak"></use>
                    </svg>
                </div>
                <div class="services__block-img">
                    <img src="../img/girlS.svg" alt="">
                </div>
                <div class="services__block-title">
                    Русская баня
                </div>

            </div>
            <div class="services__block">
                <div class="services__block-open">
                    <svg class="icon" width="20" height="20">
                        <use href="../img/icons.svg#plusznak"></use>
                    </svg>
                </div>
                <div class="services__block-img">
                    <img src="../img/girlS.svg" alt="">
                </div>
                <div class="services__block-title">
                    Русская баня
                </div>

            </div>
            <div class="services__block services__block-titles">
                <div class=" main-title services-title text-start-titles">
                    Отдых, развлечения,
                    и приключения!
                </div>
                <div class="services-subtitle">
                    – На территории множество семейных развлечений на любой вкус.
                </div>

            </div>
            <div class="services__block">
                <div class="services__block-open">
                    <svg class="icon" width="20" height="20">
                        <use href="../img/icons.svg#plusznak"></use>
                    </svg>
                </div>
                <div class="services__block-img">
                    <img src="../img/girlS.svg" alt="">
                </div>
                <div class="services__block-title">
                    Русская баня
                </div>

            </div>
            <div class="services__block">
                <div class="services__block-open">
                    <svg class="icon" width="20" height="20">
                        <use href="../img/icons.svg#plusznak"></use>
                    </svg>
                </div>
                <div class="services__block-img">
                    <img src="../img/girlS.svg" alt="">
                </div>
                <div class="services__block-title">
                    Русская баня
                </div>

            </div>
            <div class="services__block">
                <div class="services__block-open">
                    <svg class="icon" width="20" height="20">
                        <use href="../img/icons.svg#plusznak"></use>
                    </svg>
                </div>
                <div class="services__block-img">
                    <img src="../img/girlS.svg" alt="">
                </div>
                <div class="services__block-title">
                    Русская баня
                </div>

            </div>
            <div class="services__block">
                <div class="services__block-open">
                    <svg class="icon" width="20" height="20">
                        <use href="../img/icons.svg#plusznak"></use>
                    </svg>
                </div>
                <div class="services__block-img">
                    <img src="../img/girlS.svg" alt="">
                </div>
                <div class="services__block-title">
                    Русская баня
                </div>

            </div>
        </div>
    </div>
</div>
