body {

  @include adaptive-font(14, 18);
  font-family: NotoSans ;
  line-height: 100%;
  background-color: white;
  color:#1C1230;
  display: flex;
  flex-direction: column;

}
//
//
//span {
//  line-height: 14px;
//  font-size: 1.2rem;
//  @media #{$tablet-all-only} {
//    font-size: 1rem;
//  }
//  @media #{$desktop-all-only} {
//    font-size: 1rem;;
//  }
//  @media #{$fullhd} {
//    font-size: 1rem;;
//
//  }
//
//}
//p{
//  line-height: 14px;
//  font-size: 1em;
//  @media #{$tablet-all-only} {
//    font-size: 1.2em;
//    line-height: 16px;
//
//  }
//  @media #{$desktop-all-only} {
//    font-size: 1.2em;
//    line-height: 18px;
//
//  }
//  @media #{$fullhd} {
//    font-size: 2em;
//    line-height: 30px;
//
//  }
//}
//h1 {
//  text-align: start;
//  font-size: 1.6rem;
//  color: #1C1230;
//  line-height: 1.25em;
//  font-weight: $font-primary-bold;
//  width: 100% !important;
//
//  @media #{$tablet} {
//    font-size: 3rem;
//  }
//
//  @media #{$tablet-landscape} {
//    font-size: 3rem;
//  }
//
//  @media #{$desktop} {
//    font-size: 4rem;
//  }
//
//  @media #{$desktop-wide} {
//    font-size: 4rem;
//  }
//
//  @media #{$fullhd} {
//    font-size: 4.0rem;
//  }
//
//  @media #{$ultra} {
//    font-size: 4.4rem;
//  }
//}
//
//
//
//h2 {
//
//  margin: 1rem 0;
//  font-size: 1.4rem;
//  line-height: 1.3em;
//  color: #1C1230;
//  font-weight: $font-primary-bold;
//
//  @media #{$tablet} {
//    font-size: 2rem;
//  }
//
//  @media #{$tablet-landscape} {
//    font-size: 2rem;
//  }
//
//  @media #{$desktop} {
//    font-size: 2rem;
//  }
//
//  @media #{$desktop-wide} {
//    font-size: 2rem;
//  }
//
//  @media #{$fullhd} {
//    font-size: 2rem;
//  }
//
//  @media #{$ultra} {
//    font-size: 2rem;
//  }
//}
//
//
//
//
//h3{
//
//  font-size: 1.6rem;
//  color: #1C1230;
//
//
//  line-height: 1.25em;
//  //font-weight: $font-primary-bold;
//  width: 100% !important;
//
//  @media #{$tablet-all-only} {
//    font-size: 1.8rem;
//  }
//
//  @media #{$desktop-all-only} {
//    font-size: 1.8rem;
//
//  }
//  @media #{$fullhd} {
//    font-size: 1.8rem;
//
//  }
//}
//h4{
//  font-size: 1.2rem;
//
//
//  line-height: 1.25em;
//  font-weight: $font-primary-bold;
//  width: 100% !important;
//
//  @media #{$tablet-all-only} {
//    font-size: 22px;
//  }
//
//  @media #{$desktop-all-only} {
//    font-size: 24px;
//  }
//  @media #{$fullhd} {
//    font-size: 36px;
//    line-height: 39px;
//
//  }
//}
//
//h5{
//  font-size: 1.2rem;
//
//
//  line-height: 1.25em;
//  font-weight: $font-primary-bold;
//  width: 100% !important;
//
//  @media #{$tablet-all-only} {
//    font-size: 26px;
//  }
//
//  @media #{$desktop-all-only} {
//    font-size: 28px;
//  }
//  @media #{$fullhd} {
//    font-size: 32px;
//    line-height: 30px;
//
//  }
//}
//h6{
//  font-size: 1.2rem;
//
//  line-height: 1.25em;
//  font-weight: $font-primary-bold;
//  width: 100% !important;
//
//  @media #{$tablet-all-only} {
//    font-size: 18px;
//  }
//
//  @media #{$desktop-all-only} {
//    font-size: 22px;
//  }
//  @media #{$fullhd} {
//    font-size: 24px;
//    line-height: 30px;
//
//  }
//}

