// GRID
// Максимальная ширина контейнера
// Рекомендуемые зачения и единицы: auto | px | % | vw
// Если единицы не указаны будут px
$grid-container: (
        'mobile':               95%,
        'mobile-landscape':     95%,
        'tablet':               95%,
        'tablet-landscape':     774px,
        'desktop':              1280px,
        'desktop-wide':         1280px,
        'fullhd':               1280px,
        'ultra':                1280px
);

// column amount
$grid-columns:            36;

// Отступы между колонками и внутри колонок
// Отступы Будут пересчитаны в процены, а указанные значения будут минимальными
// $mobile | $tablet | $tablet-landscape | $desktop | $desktop-wide | $fullhd | $ultra
$grid-indents: (
        'mobile':               0,
        'mobile-landscape':     0,
        'tablet':               0,
        'tablet-landscape':     0,
        'desktop':              0,
        'desktop-wide':         0,
        'fullhd':               0,
        'ultra':                0
);

// vertical rhythm step
$rhythm:                  4px;

// breakpoints
$breakpoints:  (
        'mobile':               0,
        'mobile-landscape':     650,
        'tablet':               768,
        'tablet-landscape':     991,
        'desktop':              1200,
        'desktop-wide':         1440,
        'fullhd':               1920,
        'ultra':                2560
);

// FONTS
$font-primary-basic:                10px;
$font-primary-size:									1rem;
$font-primary-name:									'MAK';
$font-primary-family:								'MAK', sans-serif;
$font-primary-light:								300;
$font-primary-regular:							400;
$font-primary-samibold:							500;
$font-primary-bold:									700;

$font-secondary-name:									'NotoSans';
$font-secondary-family:								'NotoSans', sans-serif;

@mixin adaptive-font($minSize, $maxSize, $minWidth: 360, $maxWidth: 1440) {
  $slope: ($maxSize - $minSize) / ($maxWidth - $minWidth);
  $intersect: $minSize - $slope * $minWidth;
  font-size: clamp(
          #{$minSize}px,
          calc(#{$slope * 100}vw + #{$intersect}px),
          #{$maxSize}px
  );
}


// Использование:
//h1 { @include adaptive-font(27, 44); }
//h2 { @include adaptive-font(20, 40); }
//p  { @include adaptive-font(14, 16); }
//box-shadow: 0px 5px 30px 0px #FFA94380;
$colororange-light-super:#FFE9C7;
$colororange-light:#FFA943;
$colororange-light-mini:#FFB65E;
$color-dark-light-mini:#242424;
$color-dark-light:#1A1A1A;
$color-pink-light:#FFF4E4;
$color-dark-border-input:#6F6F6F;

//background: #FFF4E4;





$my-rhythm:  10px;


@function myrhythm($size) {
  @return $my-rhythm * $size;
}


.padding-vertical-120 {
  padding-top: myrhythm(12);
  padding-bottom: myrhythm(12);
}
@mixin padding-vertical-60(){
  padding-top: myrhythm(6);
  padding-bottom: myrhythm(6);
  @media #{$desktop-only} {
    padding-top: myrhythm(5);
    padding-bottom: myrhythm(5);
  }
  @media #{$tablet-all-only} {
    padding-top: myrhythm(4);
    padding-bottom: myrhythm(4);
  }
  @media #{$mobile-only-two} {
    padding-top: myrhythm(4);
    padding-bottom: myrhythm(4);

  }
}
@mixin padding-vertical-30(){
  padding-top: myrhythm(3);
  padding-bottom: myrhythm(3);
  @media #{$desktop-only} {
    padding-top: myrhythm(3);
    padding-bottom: myrhythm(3);
  }
  @media #{$tablet-all-only} {
    padding-top: myrhythm(3);
    padding-bottom: myrhythm(3);
  }
  @media #{$mobile-only-two} {
    padding-top: myrhythm(2);
    padding-bottom: myrhythm(2);

  }
}
@mixin margin-vertical-30(){
  margin-top: myrhythm(6);
  margin-bottom: myrhythm(6);
  @media #{$desktop-only} {
    margin-top: myrhythm(3);
    margin-bottom: myrhythm(3);
  }
  @media #{$tablet-all-only} {
    margin-top: myrhythm(3);
    margin-bottom: myrhythm(3);
  }
  @media #{$mobile-only-two} {
    margin-top: myrhythm(3);
    margin-bottom: myrhythm(3);
  }
}



@mixin PaddingBetween (){
padding: $padding-blocks-between;
}


