<section class="faq-section">
    <img class="faq-section__left-img" src="../img/faqjjjjj.webp" alt="">
    <div class="faq-section-wrap">


        <div class="top-title">
            FAQ
        </div>
        <div class="main-title">
            Часто задаваемые вопросы
        </div>
        <div class="mini-title">
            Здесь мы собрали ответы на самые популярные вопросы о нашем загородном отдыхе. Не нашли ответа на свой
            вопрос?
            Свяжитесь с нами, и мы с удовольствием поможем!
        </div>

        <div class="faq-list">
            <img class="faq-section__right-img" src="../img/fqasdasdj.webp" alt="">
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">
                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">

                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">

                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">

                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">

                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">

                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">

                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" aria-expanded="false">
                    <span class="faq-question-text">Какие услуги входят в стоимость аренды?</span>
                    <span class="faq-icon">

                         <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion2"></use>
                    </svg>
                             <svg class="icon" width="23" height="13">
                        <use href="../img/icons.svg#topquestion"></use>
                    </svg>

                        </span>
                </button>
                <div class="faq-answer" hidden>
                    В стоимость аренды включены все основные удобства, необходимые для комфортного пребывания. Это
                    включает в себя проживание в выбранном типе размещения, доступ к основной инфраструктуре
                    комплекса,
                    парковку (по необходимости), а также Wi-Fi и обслуживание гостей на ресепшн.
                </div>
            </div>

        </div>
        <div class="faq-section__btns">
            <div class="house-crystal-btn">
                <a href="">Все вопросы</a>
            </div>
            <div class="house-crystal-orange-btn">
                <a href="">Забронировать</a>
            </div>
        </div>
    </div>



</section>