<div class="form-send">
    <div class="form-send-wrap">
        <svg class="close-send-form" class="icon" width="24" height="24">
            <use href="../img/icons.svg#plusznak"></use>
        </svg>
        <div class="form-send-title">
            Связаться с нами
        </div>
        <div class="form-send-subtitle">
            Отправив ваши контакты, наш оператор свяжется с вами в ближайшее время.
        </div>
        <div class="form-send-name">
            <input type="text" name="name" value="Имя">
        </div>
        <div class="form-send-number">
            <input type="text" name="tel" value="Номер телефона">
        </div>
        <div class="form-send-text">
            <label for="">Заполняя форму вы даете согласие на <a href="">обработку персональных данных</a></label>
        </div>
        <div class="form-send-sub">
            <button class="house-crystal-orange-btn">
                <a href="">Забронировать</a>
            </button>
        </div>
    </div>
</div>