
.form-send{
  display: flex;
  justify-content: center;
  align-items: center;
  

  .form-send-wrap{
    position: relative;

    width: calc(740px - 60px);
    height: calc( 377px - 40px);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding:30px 20px;
    border-radius: 15px;
    border: 1px solid black;
    .close-send-form{
      position: absolute;
      right: 30px;
      top: 20px;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
  .form-send-title{
    width: 100%;
    font-family: Mak;
    font-weight: 700;
    font-style: Bold;
    @include adaptive-font(30,44, 200, 1920);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

  }
  .form-send-subtitle{
    width: 100%;
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    @include adaptive-font(14,18, 200, 1920);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

  }
  input{
    padding: 20px;
    width: 100%;
    @include adaptive-font(14,16, 200, 1920);
    border-radius: 15px;
  }
  .form-send-name{
    width: calc(50% - 0.5rem);

  }
  .form-send-number{
    width: calc(50% - 0.5rem);

  }
  .form-send-text{
    width: calc(50% - 0.5rem);
    height: 60px;
    display: flex;
    align-items: center;
    a{
      color: $colororange-light;
    }
  }
  .form-send-sub{
    width: calc(50% - 0.5rem);
    display: flex;
    height: 60px;
    justify-content: flex-end;
  }
  @media #{$mobile-only-two} {

    .form-send-wrap{
      width: 360px;
      height: 450px;
      padding: 15px;
      gap: 0.5rem;
      .close-send-form{
        right: 15px;
        top: 15px;
      }
      input{
        padding: 16px;

      }
      .form-send-name{
        width: 100%;
      }
      .form-send-number{
        width: 100%;
      }
      .form-send-text{
        width: 100%;
      }
      .form-send-sub{
        width: 100%;
        height: 54px;
      }
    }
  }
}