

.form-message-success{
  display: flex;
  justify-content: center;
  align-items: center;
  .close-send-form{
    transform: rotate(45deg);
  }
  .form-message-success-wrap{
    width: calc(740px - 60px);
    height: calc( 336px - 40px);
    position: relative;
    border: 1px solid black;
    border-radius: 15px;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding:30px 20px;
  }
  .form-message-success__yes{
    width: 100px;
    height: 100px;
    img{
      width: 100%;
    }
  }
  .close-send-form{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .form-message-success__title{
    width: 100%;
    font-family: Mak;
    font-weight: 700;
    font-style: Bold;
    @include adaptive-font(30,44, 200, 1920);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  @media #{$mobile-only-two} {


      .form-message-success-wrap {
        width: 360px;
        height: 260px;
      }
    .form-message-success__yes{
      width: 60px;
      height: 60px;
    }

  }
}