<div class="form-message-success">
    <div class="form-message-success-wrap">
        <svg class="close-send-form" class="icon" width="24" height="24">
            <use href="../img/icons.svg#plusznak"></use>
        </svg>
        <div class="form-message-success__yes">
            <img src="../img/ic_round-check-box.svg" alt="">
        </div>

        <div class="form-message-success__title">
            Ваша заявка принята!
        </div>
        <div class="form-message-success__subtitle">
            Мы получили вашу заявку на звонок, наш менеджер свяжется с вами в ближайшее время.
        </div>

    </div>
</div>