<div class="offer">
{#    <img src="../img/bgponeoffer.png" alt="">#}
    <div class="offer-wrap">
        <div class="offer__left">
            <div class="main-title text-start-titles">
                Специальное предложение:
                20% скидка на аренду домов!
            </div>
            <div class="mini-title text-start-titles">
                Не упустите возможность воспользоваться нашим специальным предложением и
                сэкономить 20% на аренде домов для вашего загородного отдыха. Оставьте заявку
                прямо сейчас, чтобы начать планировать незабываемое приключение!
            </div>
        </div>
        <div class="offer__right">
            <form action="">
                <div class="offer__right-title">
                    Оставить заявку
                </div>
                <div class="offer__right-name">
                    <input type="text" value="Ваше имя">
                </div>
                <div class="offer__right-tel">
                    <input type="tel" value="Номер телефона">
                </div>
                <div class="offer__right-agree">
                    Заполняя форму вы даете согласие на <a href="">обработку персональных данных</a>
                </div>
                <div class="offer__right-submit">
                    <input type="submit" class="house-crystal-orange-btn" value="Отправить заявку">
                </div>
            </form>
        </div>


    </div>
</div>
