<section class="revierws">
    {# <img class="revierws-bright" src="../img/revierwsbright.svg" alt=""> #}
    <div class="revierws-wrap">
        <div class="top-title text-start-titles">Отзывы</div>
        <div class="revierws-wrap-titles">


            <div class=" main-title text-start-titles">
                Отзывы <br> наших гостей
            </div>
            <div class="mini-title text-start-titles">
                Узнайте, что говорят о нашем загородном уюте наши довольные гости.
                Погрузитесь в их истории и вдохновитесь идеями для вашего следующего
                отдыха с нами.
            </div>
        </div>
        <div class="revierws-swiper-galery">
            <div class="swiper-pagination-rew"></div>

            <div class="revierws__btns">
                <button class="revierws-prev">
                    <svg class="icon" width="22" height="15">
                        <use href="../img/icons.svg#btnleft"></use>
                    </svg>
                </button>
                <button class="revierws-next">
                    <svg class="icon" width="22" height="15">
                        <use href="../img/icons.svg#btnright"></use>
                    </svg>
                </button>
            </div>

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="revierws-top">
                        <svg class="icon" >
                            <use href="../img/icons.svg#comment2st"></use>
                        </svg>
                        <div class="revierws__name">
                            Анна
                        </div>
                    </div>

                    <div class="revierws__comment">
                        Необыкновенное место для уединенного отдыха! Вилла просто восхитительна: каждая деталь
                        продумана, вид на горы захватывает дух, а обслуживание на высшем уровне. Отдельное спасибо за
                        внимательное отношение к нашим пожеланиям! Этот уикенд стал для нас настоящим подарком.

                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="revierws-top">
                        <svg class="icon" >
                            <use href="../img/icons.svg#comment2st"></use>
                        </svg>
                        <div class="revierws__name">
                            Анна
                        </div>
                    </div>

                    <div class="revierws__comment">
                        Необыкновенное место для уединенного отдыха! Вилла просто восхитительна: каждая деталь
                        продумана, вид на горы захватывает дух, а обслуживание на высшем уровне. Отдельное спасибо за
                        внимательное отношение к нашим пожеланиям! Этот уикенд стал для нас настоящим подарком.

                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="revierws-top">
                        <svg class="icon" >
                            <use href="../img/icons.svg#comment2st"></use>
                        </svg>
                        <div class="revierws__name">
                            Анна
                        </div>
                    </div>

                    <div class="revierws__comment">
                        Необыкновенное место для уединенного отдыха! Вилла просто восхитительна: каждая деталь
                        продумана, вид на горы захватывает дух, а обслуживание на высшем уровне. Отдельное спасибо за
                        внимательное отношение к нашим пожеланиям! Этот уикенд стал для нас настоящим подарком.

                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="revierws-top">
                        <svg class="icon" width="70" height="70">
                            <use href="../img/icons.svg#comment2st"></use>
                        </svg>
                        <div class="revierws__name">
                            Анна
                        </div>
                    </div>

                    <div class="revierws__comment">
                        Необыкновенное место для уединенного отдыха! Вилла просто восхитительна: каждая деталь
                        продумана, вид на горы захватывает дух, а обслуживание на высшем уровне. Отдельное спасибо за
                        внимательное отношение к нашим пожеланиям! Этот уикенд стал для нас настоящим подарком.

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>