
<section class="catalog">

    <div class="catalog-header">
        <div class="top-title">Дома для отдыха</div>
        <div class="main-title">НАШИ КОТТЕДЖИ</div>
        <div class="mini-title">Для создания домов мы используем только экологичные <br> природные материалы.</div>
    </div>
    <div class="phone-img">
        <img src="../img/—Pngtree—green leaves against the sky_14877997.svg" alt="">
    </div>
    <div class="catalog-container">

        <div class=" catalog-swiper">
            <div class="catalog-nav">
                <button class="catalog-prev">
                    <svg class="icon" width="22" height="15">
                        <use href="../img/icons.svg#btnleft"></use>
                    </svg>
                </button>
                <button class="catalog-next">
                    <svg class="icon" width="22" height="15">
                        <use href="../img/icons.svg#btnright"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-wrapper">
                <!-- Слайд 1 -->
                <div class="swiper-slide">
                    <div class="house-card">
                        <div class="house-image">
                            <div class="swiper catalog-swiper-galery">
                                <button class="catalog-galery-prev">‹</button>
                                <button class="catalog-galery-next">›</button>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="house-content">
                            <div class="house-title">СКАНДИНАВСКИЙ УЮТ</div>

                            <div class="text-container">
                                <div class="short-text">
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.

                                    <a href="#" class="read-more">подробнее</a>
                                </div>

                            </div>
                            <div class="house-features">
                                <span class="feature">4 местный</span>
                                <span class="feature">Кухня</span>
                                <span class="feature">Русская баня</span>
                                <span class="feature">WI-Fi</span>
                                <span class="feature">Smart TV</span>
                            </div>
                            <div class="house__bottom">


                                <button type="button" class="house-crystal-btn"><a href="">Забронировать</a></button>
                                <a class="house__bottom-href" href="">Подробнее

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="house-card">
                        <div class="house-image">
                            <div class="swiper catalog-swiper-galery">
                                <button class="catalog-galery-prev">‹</button>
                                <button class="catalog-galery-next">›</button>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="house-content">
                            <div class="house-title">Скандинавский уют</div>

                            <div class="text-container">
                                <div class="short-text">
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.

                                    <a href="#" class="read-more">подробнее</a>
                                </div>

                            </div>
                            <div class="house-features">
                                <span class="feature">4 местный</span>
                                <span class="feature">Кухня</span>
                                <span class="feature">Русская баня</span>
                                <span class="feature">WI-Fi</span>
                                <span class="feature">Smart TV</span>
                            </div>
                            <div class="house__bottom">


                                <button type="button" class="house-crystal-btn"><a href="">Забронировать</a></button>
                                <a class="house__bottom-href" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="house-card">
                        <div class="house-image">
                            <div class="swiper catalog-swiper-galery">
                                <button class="catalog-galery-prev">‹</button>
                                <button class="catalog-galery-next">›</button>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="house-content">
                            <div class="house-title">Скандинавский уют</div>

                            <div class="text-container">
                                <div class="short-text">
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.

                                    <a href="#" class="read-more">подробнее</a>
                                </div>

                            </div>
                            <div class="house-features">
                                <span class="feature">4 местный</span>
                                <span class="feature">Кухня</span>
                                <span class="feature">Русская баня</span>
                                <span class="feature">WI-Fi</span>
                                <span class="feature">Smart TV</span>
                            </div>
                            <div class="house__bottom">


                                <button type="button" class="house-crystal-btn"><a href="">Забронировать</a></button>
                                <a class="house__bottom-href" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="house-card">
                        <div class="house-image">
                            <div class="swiper catalog-swiper-galery">
                                <button class="catalog-galery-prev">‹</button>
                                <button class="catalog-galery-next">›</button>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                    <div class="swiper-slide">
                                        <img src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?w=800&h=600&fit=crop"
                                             alt="Дом №1">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="house-content">
                            <div class="house-title">Скандинавский уют</div>

                            <div class="text-container">
                                <div class="short-text">
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.
                                    полуслове и добавить кнопку "подробнее" для раскрытия полного текста.

                                    <a href="#" class="read-more">подробнее</a>
                                </div>

                            </div>
                            <div class="house-features">
                                <span class="feature">4 местный</span>
                                <span class="feature">Кухня</span>
                                <span class="feature">Русская баня</span>
                                <span class="feature">WI-Fi</span>
                                <span class="feature">Smart TV</span>
                            </div>
                            <div class="house__bottom">


                                <button type="button" class="house-crystal-btn"><a href="">Забронировать</a></button>
                                <a class="house__bottom-href" href="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


