<section class="about">
    <div class="top-title text-start-titles">О нас</div>

    <div class="main-title text-start-titles">История Компании “Истра Глэмпинг”</div>
    <div class="about-wrap">

        <div class="about__text">

            <p>Дорогие друзья, хотим познакомить Вас с очень интересным и стильным проектом под названием Истра Глэмпинг.
            </p>
            <p>В основе нашего проекта лежат очень уютные дома у леса в одном из самых экологически чистых районах Подмосковья- Истринском, это всего 40км от МКАД по скоростному Новорижскому шоссе. Домики с удобными мангальными зонами, верандами и садовой мебелью для отдыха на свежем воздухе.</p>
            <div class="about__btns">
                <div class="house-crystal-orange-btn">
                    <a href="">Сделать бронь</a>
                </div>
                <div class="house-crystal-btn">
                    <a href="">Заказать звонок</a>
                </div>
            </div>

        </div>
        <div class="about__img">
            <div class="about__img-top">
                <img src="../img/aboutchansv.webp" alt="">
            </div>
            <img class="about__img-main" src="../img/about-right.webp" alt="">
        </div>
    </div>
</section>
