.about{
  @include container();
  @include padding-vertical-30();
  position: relative;
  .top-title{
    margin-bottom: 20px;
  }
  .main-title{
    max-width: 70%;
  }
  .about__img-top{
    position: absolute;
    right: 20px;
    top: -40px;
  }
  .about-wrap{
    display: flex;

    gap: 2rem;
  }
  .about__btns{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 2rem;
  }
  .about__text{
    flex: 1 1 calc(50% - 1rem);
    padding: 2rem 0;

  }
  .about__img{
    flex: 1 1 calc(50% - 1rem);
    border-radius: 20px;
    img{

      width: 100%;
      border-radius: 20px;
    }
  }
  @media #{$tablet-all-only} {
    .main-title{
      max-width: 100%;
    }
    .about-wrap{
      display: flex;

      gap: 1rem;
    }
    .about__img-top{
      position: absolute;
      right: 10px;
      top: 20px;
      display: flex;
      justify-content: flex-end;
          img{
            width: 70%;
          }

    }
    .about__text{
      flex: 1 1 calc(55% - 0.5rem);
      padding: 0 0;

    }
    .about__img {
      flex: 1 1 calc(45% - 0.5rem);
      img{
        height: 100%;
      }
    }
    .about__img-main{
      object-fit: cover;
    }
  }
  @media #{$mobile-only-two} {
    .main-title{
      max-width: 100%;
    }
    .top-title{
      margin-bottom: 10px;
    }
    .about__img{
      display: none;

    }
    .about__text{
      flex: 1 1 100%;
      padding: 0;
    }
    .about__btns{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 1rem;
      padding-top: 0;
    }
  }
}