<section class="moments">
    <img class="moments-bright" src="../img/moment23gh.webp" alt="">
    <div class="moments-wrap">
        <div class="moments-title main-title">
            Запечатленные моменты
        </div>
        <div class="mini-title">
            Откройте мир уюта и радости в нашей фотогалерее. Путешествуйте через наши уютные дома, пейзажи и улыбки наших гостей. Каждая фотография - отдельная история!
        </div>
        <div class="moments-swiper-galery">
            <div class="moments__btns">
                <button class="moments-prev">
                    <svg class="icon" width="22" height="15">
                        <use href="../img/icons.svg#btnleft"></use>
                    </svg>
                </button>
                <button class="moments-next">
                    <svg class="icon" width="22" height="15">
                        <use href="../img/icons.svg#btnright"></use>
                    </svg>
                </button>
            </div>

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
                <div class="swiper-slide">
                    <img src="../img/moments1ch.webp"
                         alt="Дом №1">

                </div>
            </div>
        </div>
    </div>
</section>