<footer class="footer">
{#    <img src="../img/footerbg.png" alt="">#}


    <div class="footer-wrap">
        <div class="footer__elem footer__elem-top">
            <div class="logo">
                <img src="../img/logot.svg" alt="">
            </div>
            <div class="menu-full">
                <ul>
                    <li><a href="">О нас</a></li>
                    <li><a href="">Наши дома</a></li>
                    <li><a href="">Развлечения</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Контакты</a></li>

                </ul>
            </div>

        </div>
        <div class="footer__elem footer__elem-social">
            <div class="phone ">

                <svg class="icon" width="26" height="22">
                    <use href="../img/icons.svg#phoneF"></use>
                </svg>
                <div class="phone-wrap">
                    <span>Номер телефона:</span>
                    <a href="">+7 (917) 589 59 16</a>
                </div>

            </div>
            <div class="email">
                <svg class="icon" width="24" height="22">
                    <use href="../img/icons.svg#email"></use>
                </svg>
                <div class="email-wrap">
                    <span>Электронная почта:</span>
                    <a href=""> neglovomen@gmail.com </a>
                </div>

            </div>


            <div class="adress">
                <svg class="icon" width="24" height="22">
                    <use href="../img/icons.svg#geo"></use>
                </svg>
                <div class="adress-wrap">
                    <span>Адрес:</span>
                    <a href="">Московская обл. г.о. Истра, п. Полевшина ул. Казанская д. 93</a>
                </div>


            </div>
        </div>


        <div class="footer__elem footer__elem-sociality">
            <div class="social">
                <ul>
                    <li><a href="">
                            <svg class="icon" width="50" height="50">
                                <use href="../img/icons.svg#whatsapp"></use>
                            </svg>
                        </a></li>
                    <li><a href="">
                            <svg class="icon" width="50" height="50">
                                <use href="../img/icons.svg#telegram"></use>
                            </svg>
                        </a></li>

                    <li><a href="">
                            <svg class="icon" width="50" height="50">
                                <use href="../img/icons.svg#instagramm"></use>
                            </svg>
                        </a></li>
                    <li><a href="">
                            <svg class="icon" width="50" height="50">
                                <use href="../img/icons.svg#VK"></use>
                            </svg>
                        </a></li>
                    <li><a href="">
                              <svg class="icon" width="50" height="50">
                                <use href="../img/icons.svg#OK"></use>
                            </svg>
                        </a></li>
                </ul>
            </div>
            <div class="footer__elem-btns">
               
                <div class="house-crystal-btn">
                    <a href="">Заказать звонок</a>
                </div>
                <div class="house-crystal-orange-btn">
                    <a href="">Забронировать</a>
                </div>


            </div>
        </div>
        <div class="footer__elem footer__elem-bottom">
            <div>© 2024 - Официальный сайт “Истра Глэмпинг”</div>
            <div><a href="">Политика конфиденциальности</a></div>
            <div class="footer__elem-creater"><a href="">Сайт разработан компанией DS-ART</a></div>
        </div>
    </div>
</footer>
