.lock {
  overflow: hidden;
}

@import './mobile-menu';
.banner {
  height: 100vh;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 62.02%, rgba(35, 35, 35, 0.131641) 75.27%, rgba(72, 72, 72, 0.0579223) 87.1%, rgba(102, 102, 102, 0) 100%),
  url("../img/bannerBG.webp") no-repeat 100% 100% / cover;
  @import './booking';
  position: relative;

  .banner-wrap {
    @include container();

  }

  ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;

    li {
      text-decoration: none;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  .banner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid white;

    .mini-menu {
      display: none;
    }

    .house-crystal-btn {
      span {
        color: white;
      }
    }
  }

  .menu-full {
    ul {
      display: flex;
      gap: 4rem;
      align-items: center;
      justify-content: center;
    }
  }

  .house-crystal-btn {
    background-color: transparent;
    border-color: white;
  }

  .banner-middle {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  .banner-social-wrap {
    display: flex;
    gap: 3rem;

    span {
      color: white;
      font-family: Noto Sans;
      font-weight: 400;

      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;

    }

    .phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      svg {

        fill: white;
      }

    }

    .phone-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .email {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      svg {

        stroke: white;
        fill: transparent;
      }
    }

    .email-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .social {
    ul {
      display: flex;
      gap: 1rem;

      svg {
        fill: transparent;
        stroke: white;
      }
    }
  }

  .banner-titles {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .banner-title {
    font-family: Mak;
    font-weight: 700;
    @include adaptive-font(40, 70, 360, 1450);
    line-height: 110%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
  }

  .banner-subtitle {
    font-family: Noto Sans;
    font-weight: 600;

    @include adaptive-font(14, 18, 360, 1450);
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
  }

  .banner-btns {
    display: flex;
    gap: 2rem;
    padding-top: 70px;

    .house-crystal-orange-btn {

    }

    .house-crystal-btn {
      span {
        color: white;
      }
    }
  }


  @import "./banner-mobile";
}