
.booking-container-wrap {
  @include container();
  margin: 0 auto;
  position: absolute;
  bottom: -90px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: $color-pink-light;
  border-radius: 30px;
  padding: 30px ;
  gap: 1.5rem;
  z-index: 1000;
  .booking-title{
    font-family: "MAK";
    font-size: 32px;
    @include adaptive-font(20,32, 360, 1450);

    text-align: start;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;

  }
  .booking-container {
    background: $color-pink-light;
    width: 100%;

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    // Dropdown styles
    @import "./inputs/dropdown";

    @import "./inputs/dates";

    @import "./inputs/geust";

    @import "./inputs/consept-notition";


  }
}

.contacts-header__title {

  .top-title {
    color: $colororange-light;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  .main-title {
    font-size: 42px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .mini-title {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
  }
}


.contacts-map {
  margin-top: 50px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media #{$tablet-all-only} {
        .booking-container-wrap {
          justify-content: center;
          bottom: -300px;

          .booking-container {
            margin-right: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .dropdown {
              width: 100%;

              max-width: 100%;
            }
            .dates-section {
              width: 100%;
              .date-input-group {
                width: 50%;
                max-width: 100%;
              }
            }
            .guests-section{
              flex: 1;
              max-width: 100%;
            }
          }

          .contactimgst-wrap {
            display: none;
          }
        }

        .contacts-header__title {
          text-align: center;
          margin: 0 auto 40px;
        }
      }


@media #{$mobile-only-two}{
        margin: 0;

        .booking-container-wrap {
          position: absolute;
          max-width: 95%;
          bottom: -450px;
          padding: 15px;
          .booking-container {
            padding: 15px;
            flex-direction: column;
            .dropdown{
              width: 100%;
            }
            .dates-section {
              flex-direction: column;
              gap: 0.5rem;
              .date-input-group {
                width: 100%;
                max-width: 100%;
              }
            }

            .consent-section {
              flex-direction: column;
              width: 100%;

              .consent-section__agree {
                text-align: center;
              }

              .house-crystal-orange-btn {
                width: 100%;
              }
            }
            .guests-section{
              width: 100%;
            }

          }
        }

        .contacts-header__title {
          .main-title {
            font-size: 32px;
          }
        }


    .contacts-map {
      margin-top: 30px;
    }

}

