
.bottom-header {

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  color: black;
  display: none;
  .bottom-header-wrap {
    padding: 20px;
    //overflow: hidden;
    display: flex;
    flex-direction: column;
    ul {
      padding-left: 0;
      margin: 0;
      list-style-type: none;

      li {
        text-decoration: none;

      }
    }

    a {
      text-decoration: none;
      color: black;
    }
    .banner-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid white;
      .logo-dark{
        width: 135px;
        height: 36px;
      }
      .cross-menu{
        height: 44px;
        width: 44px;
        cursor: pointer;
      }
      .banner-top-wrap{
        display: flex;
        gap: 1rem;
        align-items: center;
        svg{
          transform: rotate(45deg);
        }
      }
      .house-crystal-btn{
        width: auto;
        background-color: transparent;
      }
    }
    .banner-middle{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 1rem;
      border-top: 1px solid black;
      padding-top: 20px;

    .banner-social-wrap{
      display: flex;
      gap: 1rem;
      flex-direction: row;
      span{
        color: black;
        font-family: Noto Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;

      }
      .phone{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        svg{

          fill: black;
        }

      }
      .phone-wrap{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .email{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        svg{

          stroke: black;
          fill: transparent;
        }
      }
      .email-wrap{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
    .social{
      ul{
        display: flex;
        gap: 1rem;
        svg{
          fill: white;
          stroke: black;
          width: 40px;
          height: 40px;
        }
      }
    }
    }
    .menu-full{
      ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 20px 0;
      }
    }
  }
  @media #{$mobile-only-two} {
    .bottom-header-wrap {
      position: relative;
      padding-bottom: 60px;
      .banner-middle{
        border: none;
        order: 3;
        flex-direction: column;
        .banner-social-wrap{
          flex-direction: column;
        }
      }
      .banner-top{
        order: 1;
        padding: 10px 0;
        .house-crystal-btn{
          position: absolute;
          bottom: 0;
          margin-top: 1rem;
          left: 15px;
          padding: 15px 20px;
        }
      }
    }


    .menu-full{
      border-top: 1px solid black;
      order: 2;
    }
  }
}

.bottom-header._active{
  display: block;
}